*{
    margin: 0;
    padding: 0;
}
.sec-1{
    background-image: url(./images/blurry-gradient-haikei\ \(2\).png) ;
    /* opacity: .5; */
    /* filter: grayscale(50%); */
    background-color: black;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
}

.nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
    padding-top: 10px;
}

.sec-1-mid{
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.sec-2{
    /* background-color: gray; */
    background: linear-gradient(to right, rgb(13, 156, 49) , #1c4eb0);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 100px 25%;
}

.service-box{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    text-align: center;
}

.work-img{
    height: 50%;
    margin-top: 50px;
    border-radius: 50px;
}

.box{
    background-color: rgb(0 0 0 / 34%);
    margin: 10px;
    padding: 20px;
}


.work-history{
    background: linear-gradient(to right, rgb(13, 156, 49) , #1c4eb0);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }